<%- include('../partials/header.ejs') %>
<div class="container">
    <h1 class="mb-3">Edit movie</h1>
    <form action="/movies/<%= movie._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Title name</label>
            <input type="text" class="form-control" name="movie[name]" placeholder="<%= movie.name %>" value="<%= movie.name %>">
        </div>
        <div class="mb-3">
            <label class="form-label">Poster</label>
            <img src='<%= movie.img %>' width="300px">
            <input type="file" class="form-control" name="img" accept="image/*">
        </div>
        <div class="mb-3">
            <label class="form-label">Trailer</label>
            <input type="text" class="form-control" name="movie[trailer]" placeholder="<%= movie.trailer %>" value="<%= movie.trailer %>">
        </div>
        <div class="mb-3">
            <label class="form-label">time</label>
            <input type="text" class="form-control" name="movie[time]" placeholder="<%= movie.time %>" value="<%= movie.time %>">
        </div>
        <div class="mb-3">
            <label class="form-label">type</label>
            <input type="text" class="form-control" name="movie[type]" placeholder="<%= movie.type %>" value="<%= movie.type %>">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" name="movie[desc]" placeholder="<%= movie.desc %>" value="<%= movie.desc %>">
        </div>
        <div class="mb-3">
            <label class="form-label">Date</label>
            <input type="date" class="form-control" name="movie[date]" placeholder="<%= movie.date %>" value="<%= movie.date %>">
        </div>
        <div class="mb-3">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

<%- include('../partials/footer.ejs') %>