<%- include('../partials/header.ejs') %>
<div class="container">
  <div class="slides">
    <% slide.forEach(function(slide){ %>
    <div class="slide">
      <img src="<%= slide.img %>" alt="" />
    </div>
    <% }); %>
  </div> 
  <div class="slide-controls">
    <button id="prev-btn">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button id="next-btn">
      <i class="fas fa-chevron-right"></i>
    </button>
    </div>
</div>

<div class="row justify-content-center">
  <h1 class="movie_head">Recommend</h1>
  <% available.forEach(function(available){ %>
      <div class="card movie_card">
        <img src="<%= available.img %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= available.title %></h5>
            <span class="movie_info"><%= available.year %></span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> <%= available.rate %></span>
        </div>
      </div>
      <% }); %>

  </div>

<!-- <div class="row justify-content-center">
  <h1 class="movie_head">Recommend</h1>
      <div class="card movie_card">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSMoliPRgy5xgoyg_eZmuKyptS9s1weVooX5tLqTBnGBYMRtE-t" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Iron Man</h5>
            <span class="movie_info">2008</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 7.9 / 10</span>
        </div>
      </div>

      <div class="card movie_card">
        <img src="http://www.movienewsletters.net/photos/065116R1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Iron Man 2</h5>
            <span class="movie_info">2010</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 7 / 10</span>
        </div>
      </div>

      <div class="card movie_card">
        <img src="http://www.movienewsletters.net/photos/156876R1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Iron Man 3</h5>
            <span class="movie_info">2013</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 7.1 / 10</span>
        </div>
      </div>

      <div class="card movie_card " >
        <img src="https://m.media-amazon.com/images/M/MV5BMTYzOTc2NzU3N15BMl5BanBnXkFtZTcwNjY3MDE3NQ@@._V1_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Captain America: The First Avenger</h5>
            <span class="movie_info">2011</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 6.9 / 10</span>
        </div>
      </div>

      <div class="card movie_card">
        <img src="https://www.037hdmovie.com/wp-content/uploads/2018/04/2SfZP8iczhLaZM3OmXz.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Captain America: The Winter Soldier</h5>
            <span class="movie_info">2014</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 7.7 / 10</span>
        </div>
      </div>

      <div class="card movie_card">
        <img src="https://contentserver.com.au/assets/511728_p10989225_p_v8_ak.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Captain America: Civil War</h5>
            <span class="movie_info">2016</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 7.8 / 10</span>
        </div>
      </div>
  </div> -->

    <div class="row justify-content-center">
      <h1 class="movie_head">Top movies</h1>
          <div class="card movie_card">
            <img src="https://www.joblo.com/assets/images/joblo/posters/2019/02/Dyow9RgX4AElAGN.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Toy Story 4</h5>
                <span class="movie_info">2019</span>
                <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
            </div>
          </div>
    
          <div class="card movie_card">
            <img src="https://www.joblo.com/assets/images/joblo/posters/2019/02/captin-marvel-poster-international.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Captain Marvel</h5>
                <span class="movie_info">2019</span>
                <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
            </div>
          </div>
    
          <div class="card movie_card">
            <img src="https://www.joblo.com/assets/images/joblo/posters/2019/01/Spider-Man-Far-From-Home-poster-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Spider-Man: Far From Home</h5>
                <span class="movie_info">2019</span>
                <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
            </div>
          </div>
    
          <div class="card movie_card " >
            <img src="https://www.joblo.com/assets/images/joblo/posters/2019/01/Alita-character-poster-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Alita: Battle Angel</h5>
                <span class="movie_info">2019</span>
                <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
            </div>
          </div>
    
          <div class="card movie_card">
            <img src="https://www.joblo.com/assets/images/joblo/posters/2018/11/Spider-Verse-poster-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Spider-Man: Into the Spider-Verse</h5>
                <span class="movie_info">2019</span>
                <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
            </div>
          </div>
    
          <div class="card movie_card">
            <img src="https://shoptrends.com/pub/media/catalog/product/cache/e6772dd5d7528380fb5dc1448d019df8/r/p/rp18431-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FROZEN 2</h5>
                <span class="movie_info">2019</span>
                <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
            </div>
          </div>
      </div>
  

<div class="row justify-content-center">
  <h1 class="movie_head">Comming soon</h1>
			<div class="card movie_card">
        <img src="https://www.joblo.com/assets/images/joblo/posters/2019/02/Dyow9RgX4AElAGN.jpg" class="card-img-top" alt="...">
        <div class="card-body"> 
          <h5 class="card-title">Toy Story 4</h5>
            <span class="movie_info">2019</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
        </div>
		  </div>

			<div class="card movie_card">
        <img src="https://www.joblo.com/assets/images/joblo/posters/2019/02/captin-marvel-poster-international.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Captain Marvel</h5>
            <span class="movie_info">2019</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
        </div>
      </div>

			<div class="card movie_card">
        <img src="https://www.joblo.com/assets/images/joblo/posters/2019/01/Spider-Man-Far-From-Home-poster-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Spider-Man: Far From Home</h5>
            <span class="movie_info">2019</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
        </div>
      </div>

			<div class="card movie_card " >
        <img src="https://www.joblo.com/assets/images/joblo/posters/2019/01/Alita-character-poster-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alita: Battle Angel</h5>
            <span class="movie_info">2019</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
        </div>
      </div>

			<div class="card movie_card">
        <img src="https://www.joblo.com/assets/images/joblo/posters/2018/11/Spider-Verse-poster-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Spider-Man: Into the Spider-Verse</h5>
            <span class="movie_info">2019</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
        </div>
      </div>

      <div class="card movie_card">
        <img src="https://shoptrends.com/pub/media/catalog/product/cache/e6772dd5d7528380fb5dc1448d019df8/r/p/rp18431-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">FROZEN 2</h5>
            <span class="movie_info">2019</span>
            <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
        </div>
      </div>
	</div>

<script>
  const slideContainer = document.querySelector('.container');
const slide = document.querySelector('.slides');
const nextBtn = document.getElementById('next-btn');
const prevBtn = document.getElementById('prev-btn');
const interval = 3000;

let slides = document.querySelectorAll('.slide');
let index = 1;
let slideId;

const firstClone = slides[0].cloneNode(true);
const lastClone = slides[slides.length - 1].cloneNode(true);

firstClone.id = 'first-clone';
lastClone.id = 'last-clone';

slide.append(firstClone);
slide.prepend(lastClone);

const slideWidth = slides[index].clientWidth;

slide.style.transform = `translateX(${-slideWidth * index}px)`;

console.log(slides);

const startSlide = () => {
  slideId = setInterval(() => {
    moveToNextSlide();
  }, interval);
};

const getSlides = () => document.querySelectorAll('.slide');

slide.addEventListener('transitionend', () => {
  slides = getSlides();
  if (slides[index].id === firstClone.id) {
    slide.style.transition = 'none';
    index = 1;
    slide.style.transform = `translateX(${-slideWidth * index}px)`;
  }

  if (slides[index].id === lastClone.id) {
    slide.style.transition = 'none';
    index = slides.length - 2;
    slide.style.transform = `translateX(${-slideWidth * index}px)`;
  }
});

const moveToNextSlide = () => {
  slides = getSlides();
  if (index >= slides.length - 1) return;
  index++;
  slide.style.transition = '.7s ease-out';
  slide.style.transform = `translateX(${-slideWidth * index}px)`;
};

const moveToPreviousSlide = () => {
  if (index <= 0) return;
  index--;
  slide.style.transition = '.7s ease-out';
  slide.style.transform = `translateX(${-slideWidth * index}px)`;
};

slideContainer.addEventListener('mouseenter', () => {
  clearInterval(slideId);
});

slideContainer.addEventListener('mouseleave', startSlide);
nextBtn.addEventListener('click', moveToNextSlide);
prevBtn.addEventListener('click', moveToPreviousSlide);

startSlide();

</script>

<%- include('../partials/footer.ejs') %>