<%- include('../partials/header.ejs') %>
<div class="container">
  <div class="slides">
    <% slide.forEach(function(slide){ %>
    <div class="slide">
      <img src="<%= slide.img %>" alt="" />
    </div>
    <% }); %>
  </div> 
  <div class="slide-controls">
    <button id="prev-btn">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button id="next-btn">
      <i class="fas fa-chevron-right"></i>
    </button>
    </div>
</div>

<div class="container-m">
  <div class="row justify-content-left">
    <h1>Now showing</h1>
    <% movie.forEach(function(movie){ %>
        <a href="/movies/<%= movie._id %>" class="card movie_card">
          <img src="<%= movie.img %>" class="card-img-top text-dark" alt="...">
          <div class="card-body">
            <h5 class="card-title text-dark"><%= movie.name %></h5>
            <div class="d-flex justify-content-between">
              <span class="movie_info text-dark"><%= movie.date %></span>
              <% var rate = 0 %> 
              <% if(movie.comments ==''){} else{ %>
                 <% movie.comments.forEach(function(rates){ %>
              <% rate = rates.rate + rate %> 
				<% }); %>
        <% rate = rate/(movie.comments.length); %>
              <% } %>
         
				<div>
				<span class="movie_info text-dark"></span><i class="fas fa-star"></i><%= rate.toFixed(2) %></span>
			</div>
            </div>
          </div>
        </a>
        <% }); %>
  </div>
</div>

<script>
  const slideContainer = document.querySelector('.container');
const slide = document.querySelector('.slides');
const nextBtn = document.getElementById('next-btn');
const prevBtn = document.getElementById('prev-btn');
const interval = 3000;

let slides = document.querySelectorAll('.slide');
let index = 1;
let slideId;

const firstClone = slides[0].cloneNode(true);
const lastClone = slides[slides.length - 1].cloneNode(true);

firstClone.id = 'first-clone';
lastClone.id = 'last-clone';

slide.append(firstClone);
slide.prepend(lastClone);

const slideWidth = slides[index].clientWidth;

slide.style.transform = `translateX(${-slideWidth * index}px)`;

console.log(slides);

const startSlide = () => {
  slideId = setInterval(() => {
    moveToNextSlide();
  }, interval);
};

const getSlides = () => document.querySelectorAll('.slide');

slide.addEventListener('transitionend', () => {
  slides = getSlides();
  if (slides[index].id === firstClone.id) {
    slide.style.transition = 'none';
    index = 1;
    slide.style.transform = `translateX(${-slideWidth * index}px)`;
  }

  if (slides[index].id === lastClone.id) {
    slide.style.transition = 'none';
    index = slides.length - 2;
    slide.style.transform = `translateX(${-slideWidth * index}px)`;
  }
});

const moveToNextSlide = () => {
  slides = getSlides();
  if (index >= slides.length - 1) return;
  index++;
  slide.style.transition = '.7s ease-out';
  slide.style.transform = `translateX(${-slideWidth * index}px)`;
};

const moveToPreviousSlide = () => {
  if (index <= 0) return;
  index--;
  slide.style.transition = '.7s ease-out';
  slide.style.transform = `translateX(${-slideWidth * index}px)`;
};

slideContainer.addEventListener('mouseenter', () => {
  clearInterval(slideId);
});

slideContainer.addEventListener('mouseleave', startSlide);
nextBtn.addEventListener('click', moveToNextSlide);
prevBtn.addEventListener('click', moveToPreviousSlide);

startSlide();

</script>

<%- include('../partials/footer.ejs') %>