<%- include('../partials/header.ejs') %>

<div class="container-m">
	<div class="row justify-content-left">
        <h1 class="col-9">Your result of <%= word %></h1>
		<select name="sort" class="col-2 sort">
			<option value="name">sort by name</option>
			<option value="date">sort by date</option>
			<option value="rate">sort by rating</option>
		</select>
	  <% movie.forEach(function(movie){ %>
		  <a href="/movies/<%= movie._id %>" class="card movie_card">
			<img src="<%= movie.img %>" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title text-dark"><%= movie.name %></h5>
				<span class="movie_info text-dark"><%= movie.date %></span>
			</div>
		  </a>
		  <% }); %>
	</div>
  </div>

<%- include('../partials/footer.ejs') %>