<%- include('../partials/header.ejs') %>
<% if(!currentUser){} else{ %>
<img src="<%= user.profileImage %>" width="300px">
<h1><%= user.firstName + '   ' + user.lastName %></h1>
<p><a href="mailto: <%= user.email %>"> <%= user.email %> </a>
</p>
<% if(currentUser.username != 'admin'){ %>
<div class="edit">
    <a href="/user/<%= user._id %>/edit" class="btn btn-outline-primary">Edit information</a>
    <form id="delete-form" action="/user/<%= user._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete user</button>
    </form> 
</div>
<% } %>
<hr>
<h1>Favorite movie</h1>
<% user.favorite.forEach(function(favorite){ %>
<h4><%= favorite.name %></h4>
<% }); %>
<% } %>

<%- include('../partials/footer.ejs') %>