<%- include('../partials/header.ejs') %>

    <% if(currentUser.username == 'admin'){ %>
       
    <div class="edit">
        <form action="/cinemas/<%= cinema.id %>" method="POST">
        <p>Add movie to your cinema</p>
        <select name="movie">
            <% movie.forEach(function(movie){ %>
            <option value="<%= movie.id %>"><%= movie.name %></option>
		    <% }); %>
        </select>
        <input type="submit">
        </form>
    </div>
    <% } %>

<%- include('../partials/footer.ejs') %>