<%- include('../partials/header.ejs') %>

<div class="container-m">
	<div class="row justify-content-left">
	  <h1>Now showing</h1>
	  <% movie.forEach(function(movie){ %>
		  <a href="/movies/<%= movie._id %>" class="card movie_card">
			<img src="<%= movie.img %>" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title"><%= movie.name %></h5>
				<span class="movie_info"><%= movie.date %></span>
			</div>
		  </a>
		  <% }); %>
	</div>
  </div>
  
<%- include('../partials/footer.ejs') %>