<%- include('../partials/header.ejs') %>
<div class="container-head">
    <h1>movie: <%= showtime.movie.name %></h1>
    <h1>Theater: <%= theater.name %></h1>
</div>
  <div class="container-theater">

        <div class="screen">
            <h2 class="screens">SCREEN</h2>
        </div>
            <form action="/cinemas/theater/<%= theater._id %>/<%= showtime._id %>/seat" method="POST">
                <div class="row">
                    <% showtime.seat.forEach(function(seat){ %>
                        <% if(seat.available){%>
                            <input name="seat" type="checkbox" value="<%= seat.id %>" id="seat" class="seat">
                            <% } else { %>
                            <input name="seat" type="checkbox" value="<%= seat.id %>" id="seat" class="seat" disabled checked>
                            <% } %>
                    <% }); %>
                </div>
                        <input type="submit">
            </form>
           
    </div>
<%- include('../partials/footer.ejs') %>